form {
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.edite {
    width: 45px;
    height: 35px;
    background: #12b712;
    padding-top: 8px;
    padding-left: 14px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.delete {
    width: 45px;
    height: 35px;
    background: #ff5454;
    padding-top: 8px;
    padding-left: 15px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}